.menu {
  height: 80px;
}

.menu-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.menu-border {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-border-item {
  width: 95%;
  height: 5px;
  background-color: black;
}

.menu-subtitle {
  display: flex;
  align-items: flex-end;
}

.menu-subtitle-text {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.menu-icons-text {
  font-size: 20px;
}

.menu-icons {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.menu-icons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.menu-icons-item-list {
  margin-right: 5px;
  margin-bottom: 4px;
}

.menu-icons-item-grid {
  margin-bottom: 4px;
  margin-right: 5px;
}

.menu-icons-text-grid {
  margin-bottom: 3px;
}

.menu-icons-text {
  margin-right: 10px;
}
