.menu {
  height: 80px;
}

.menu-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.menu-border {
  display: flex;
  justify-content: center;
}

.menu-border-item {
  width: 95%;
  height: 5px;
  background-color: black;
}

.menu-subtitle {
  display: flex;
  align-items: flex-end;
}

.menu-subtitle-text {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.menu-icons-text {
  font-size: 20px;
}

.menu-icons {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.menu-icons-container {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu-icons-item-list {
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}

.menu-icons-item-grid {
  margin-bottom: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.menu-icons-text-grid {
  margin-bottom: 3px;
}

.menu-icons-text {
  margin-right: 10px;
}

.menu-icon-back {
  margin-bottom: 15px;
  margin-right: 1em;
}

.menu-icon-back:hover {
  color: #00c496 !important;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu-icons-text {
    display: none;
  }
}

@media (max-width: 500px) {
  .menu-container {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
